Screen {
    align: center middle;
}

#start-btns {
    align: center middle;
}

Button {
    margin: 1 2;
    width: 18;
    height: 3;
}

RoutineScreen {
    layout: vertical;
}

RoutineWidget {
    layout: vertical;
    margin: 4;
    background: $boost;
}

Label {
    margin: 1;
}

ExerciseWidget {
    background: $boost;
}

.routine-name{
    background: $accent;
    text-style: underline bold;
    margin: 2 1;
}

.exercises-scroll {
    margin-bottom: 4;
    height: auto;
}